<!doctype html>
<html ng-app>
  <head>
    <title>Angular Calendar</title>
    <script type="application/dart" src="calendar.dart"></script>
    <script src="packages/browser/dart.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
    <h2>Angular Calendar</h2>
    <div appt-controller>
      <ul class="unstyled">
        <li ng-repeat="appt in appointments">
          {{appt.time}} {{appt.title}}
        </li>
      </ul>
      <form onsubmit="return false;" class="form-inline">
        <input ng-model="appointmentText" type="text" size="30"
               placeholder="15:00 Learn Dart">
        <input ng-click="addAppointment()" class="btn-primary" type="submit" value="add">
      </form>
    </div>
    </div>
  </body>
</html>
